h1, h2, h3, h4, h5, h6 {
  margin-left:0px;
}

#header {
  padding-left:20px;
}

#addContainer {
  background:#cccccc;
  padding:20px;
}


#newString {
  padding: 20px;
  background: #eeeeee;
}

input#text {
  width:90%;
}
